
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.navbar {
    box-shadow: 2px 2px 5px #000;
    opacity: 0.8;
    margin-bottom: 10px;
    
}

.showcase {

padding-bottom: 20px;
padding-top: 100px;
height: 600px;
font-family: 'Roboto Mono', monospace;
color: #0F3057;

}

.btn-dw {
    text-align: center
}

.btn-dw:hover {
    transform: scale(1.05);
}
.profile {
    background-color: rgb(38, 4, 133);
    color: white;
    padding: 20px 20px 20px 20px;
    font-family: 'Roboto Mono', monospace;;
    box-shadow: 5px 5px  gray;

}

.profile-grid {
    font-family: 'Roboto Mono', monospace;
}

.profile-grid {
    
    display: grid;
    grid-template-columns: 70% 30%;
}

.profile img {
    border-radius: 30px;
    border: 1px solid rgb(125, 163, 245);
    box-shadow: 5px 7px rgb(250, 250, 250);
}

.experience {
    
    padding: 20px 20px 20px 20px;
    border: #000 1px solid;
    box-shadow: 5px 5px  rgb(28, 28, 151);
    font-family: 'Roboto Mono', monospace;
}

.skills {
    background-color: rgb(38, 4, 133);
    color: antiquewhite;
    padding: 20px 20px 20px 20px;
    box-shadow: 5px 5px  gray;
    font-family: 'Roboto Mono', monospace;
}


.skills button
{
 color: white;   
}

.education {
    
    padding: 20px 20px 20px 20px;
    border: #000 1px solid;
    box-shadow: 5px 5px  rgb(28, 28, 151);
    font-family: 'Roboto Mono', monospace;
}

.contact {
    background-color: rgb(38, 4, 133);
    color: antiquewhite;
    padding: 20px 20px 20px 20px;
    box-shadow: 5px 5px  gray;
    font-family: 'Roboto Mono', monospace;;

}

.contact a {
    color: antiquewhite;
    
}

.footer {

    padding: 10px 10px 10px 10px;
}


@media(max-width: 1200px) {
    .profile-grid {
        grid-template-columns: 60% 40%;
    }
}

@media(max-width: 1000px) {
    .profile-grid {
        grid-template-columns: 50% 50%;
    }
}

@media(max-width: 800px) {
    .profile-grid {
        grid-template-columns: 100%;

    }

    .profile img {
        border-radius: 5px;
        box-shadow: 5px 7px rgb(54, 48, 150);
      
        
    }
    .element2 {
     justify-self: center;   
    }

    
}